.adminPage {
    .HeaderBlock {
        width: 375px;
        height: 194px;
        background: linear-gradient(90deg, #4A27FB, #2AACFF);

        .authContext {
            display: flex;
            // justify-content: space-between;
            padding: 64px 0 0 15px;
            color: #fff;
            align-items: center;

            .userImg {
                width: 70px;
                height: 70px;
                position: relative;

                .img {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    overflow: hidden;
                }

                .SetImg {
                    width: 19px;
                    height: 19px;
                    background: #FC9A10;
                    opacity: 0.8;
                    border-radius: 50%;
                    position: absolute;
                    bottom: 0;
                    right: 0;

                    >i {
                        fill: #fff !important;
                    }

                    .setUpload {
                        position: absolute;
                        top: 0;
                    }
                }
            }

            .userMessage {
                margin-left: 15px;

                .userName {
                    font-size: 22px;
                }

                .userPhone {}
            }
        }
    }
}