.HomeMain {
    .homeHeader {
        background-color: #f3b255;
        height: 50px;

        padding: 0 20px;

        .leftBlock {
            float: right;
            line-height: 50px;
        }
    }
}